.custom-modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}


.custom-modal > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.7);
}

